@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Holtwood One SC', serif;
$font-header: 'Holtwood One SC', serif;
$font-text: 'Source Sans Pro', sans-serif;

/*Animation*/
@keyframes fadein {
    from { transform: scale(0.1) rotate(7000deg) skew(-20deg, -20deg); opacity: .5; background: #c8c8c8;}
    to { transform: scale(1); opacity: 1;}
}

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;

}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  //border: 1px solid $color-dark;
  //border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  margin: 20px;
  transform: rotate(-3deg);
  z-index: 50;
  position: relative;
  text-shadow: 2px 2px black;
}

.img-logo {
  width:240px;
  height:140px;
  display: block;
  position: absolute;
  right:0px;
  transform: translate(-20%, -100px);
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
    border: 2px solid black;
    padding: 20px;
    animation-timing-function: cubic-bezier(0,.96,1,.76);
    box-shadow: 2px 2px 2px black;
    animation: fadein 1.2s;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
